### Importing Libraries

In [2]:
# Numerical python library
import numpy as np
# Python DataFrame library
import pandas as pd
# Python Visualisation library
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
#Ignoring warnings
import warnings
warnings.filterwarnings('ignore')

### Reading dataset

In [7]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv').drop('Unnamed: 0', axis =1)

In [8]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### Question 11 - 20

### 11

In [86]:
data.groupby('Item').sum().loc['Animal fats'].loc[['Y2014' ,'Y2017']]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

### 12

In [82]:
data.describe()['Y2015'].loc[['mean','std']]

mean     133.510551
std     1593.195903
Name: Y2015, dtype: float64

### 13

In [59]:
data.isnull().sum().loc['Y2016'], data.isnull().sum().loc['Y2016']/len(data)*100

(1487, 2.4399849039266197)

### 14

In [63]:
data.corr()['Element Code'].sort_values(ascending = False)

Element Code    1.000000
Y2018           0.025989
Y2017           0.024957
Y2016           0.023362
Y2015           0.023148
Y2014           0.022990
Area Code      -0.002680
Item Code      -0.024683
Name: Element Code, dtype: float64

### 15

In [67]:
data.groupby('Element').sum().loc['Import Quantity'].sort_values(ascending = False)

Element Code    28834929.00
Item Code       13795966.00
Y2017             294417.09
Y2018             287736.09
Y2016             286737.78
Y2014             274333.48
Y2015             267077.46
Area Code          13341.00
Name: Import Quantity, dtype: float64

### 16

In [70]:
data.groupby('Element').sum().loc['Production'].loc['Y2014']

1931337.7500000005

#### 17

In [74]:
data.groupby('Element').sum()['Y2018'].sort_values(ascending = False).head(1)

Element
Domestic supply quantity    2161167.1
Name: Y2018, dtype: float64

### 18

In [78]:
data.groupby('Element').sum()['Y2018'].sort_values().head(3)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10257.21
Protein supply quantity (g/capita/day)    11833.43
Name: Y2018, dtype: float64

### 19

In [37]:
data[data['Area'].eq('Algeria') & data['Element'].eq('Import Quantity')]['Y2018'].sum()

36238.29

### 20

In [38]:
data['Area'].nunique()

49