### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import warnings
warnings.filterwarnings('ignore')

### Reading Dataset

In [2]:
data = pd.read_csv('energydata_complete.csv')

In [3]:
data.head(3)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [4]:
data.isnull().sum().sum()

0

# Question 12

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [5]:
x_Q12 = data['T2'].values.reshape(19735,1)
y_Q12 = data['T6']

In [6]:
model_Q12 = LinearRegression()
model_Q12.fit(x_Q12,y_Q12)
predictions_Q12 = model_Q12.predict(x_Q12)

print(f'R^2 : {round(r2_score(y_Q12,predictions_Q12), 2)}')

R^2 : 0.64

# Question 13

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

#### X and y data

In [7]:
x_Q13 = data.drop(['date', 'lights','Appliances'], axis = 1)
y_Q13 = data['Appliances']

#### Splitting dataset

In [8]:
x_train_Q13, x_test_Q13, y_train_Q13, y_test_Q13 = train_test_split(x_Q13, y_Q13, random_state= 42, test_size= 0.3)

#### MinMax Scaler

In [9]:
scaler = MinMaxScaler()
scaler.fit(x_train_Q13)
x_train_Q13 = scaler.transform(x_train_Q13)
x_test_Q13 = scaler.transform(x_test_Q13)

#### Model Building and Evaluation

In [10]:
model_Q13 = LinearRegression()
model_Q13.fit(x_train_Q13,y_train_Q13)
predictions_Q13 = model_Q13.predict(x_test_Q13)

print(f'MAE : {round(mean_absolute_error(y_test_Q13,predictions_Q13),2)}')

MAE : 53.65

# Question 14

What is the Residual Sum of Squares (in two decimal places)?

In [12]:
##Residual_Sum_of_Squares = RSS
RSS = mean_squared_error(y_test_Q13,predictions_Q13)
round(RSS,2)

8767.63

# Question 15

What is the Root Mean Squared Error (in three decimal places)?

In [13]:
## Root Mean Squared Error = RMSE
RMSE = np.sqrt(mean_squared_error(y_test_Q13,predictions_Q13))
round(RMSE,2)

93.64

# Question 16

What is the Coefficient of Determination (in two decimal places)?

In [14]:
## Coefficient of Determination = R_squared
R_squared = r2_score(y_test_Q13,predictions_Q13)
round(R_squared,2)

0.15

# Question 17

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [15]:
feat_weight = pd.DataFrame(model_Q13.coef_, index = x_Q13.columns, columns = ['Feature weights']).sort_values('Feature weights', ascending = False)

In [19]:
feat_weight.head(2)

      Feature weights
rv2      4.510479e+14
RH_1     4.954925e+02

In [20]:
feat_weight.tail(2)

      Feature weights
RH_2    -4.697429e+02
rv1     -4.510479e+14

# Question 18

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

#### Model Ridge

In [21]:
model_Q18 = Ridge(alpha = 0.4)
model_Q18.fit(x_train_Q13,y_train_Q13)
predictions_Q18 = model_Q18.predict(x_test_Q13)

print(f'RMSE : {round(np.sqrt(mean_squared_error(y_test_Q13,predictions_Q18)),2)}')

RMSE : 93.66

# Question 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [22]:
model_Q19 = Lasso(alpha = 0.001)
model_Q19.fit(x_train_Q13,y_train_Q13)
predictions_Q19 = model_Q19.predict(x_test_Q13)

In [23]:
feat_weight = pd.DataFrame(model_Q19.coef_, index = x_Q13.columns, columns = ['Feature weights']).sort_values('Feature weights', ascending = False)

In [24]:
len(feat_weight)

26

# Question 20

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [25]:
print(f'Lasso RMSE : {round(np.sqrt(mean_squared_error(y_test_Q13,predictions_Q19)),2)}')

Lasso RMSE : 93.64